@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Josefin+Sans:wght@400;500;700&family=Kantumruy&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

::-moz-selection{
	background: rgba(30, 38, 64, .15);
}

::selection{
	background: rgba(30, 38, 64, .15);
}

.dark ::-moz-selection {
	background: rgb(243, 234, 192, .15);
} 

.dark ::selection {
	background: rgb(243, 234, 192, .15);
} 

.border-1 {
	border-width: 1px;
}

.border-r-1 {
	border-right-width: 1px;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
   
.swiper-slide {
	width: 100% !important;
}
.swiper-button-disabled {
	opacity: .2;
}

.card-holder {
	columns: 3;
	column-gap: 1rem;
	column-width: 33%;
}

.card {
	transition: all .2s;
}

.card:hover {
	border-radius: .3rem;
	transform: scale(1.03);
}


@media(max-width: 1279px){
	.card-holder {
		columns: 2;
	}
}

@media(max-width: 768px){
	.card-holder {
		columns: 1;
	}
}