.background-triangle {
	clip-path: polygon(25% 100%, 75% 0%, 100% 0%, 100% 100%);
}

.background-square {
	clip-path: polygon(50% 100%, 50% 0%, 100% 0%, 100% 100%);
}

@media (max-width: 1023px) {
	.background-triangle {
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
	}

	.background-square {
		clip-path: none;
	}
}
